
        /*1구역*/
        
      
        .one {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 150px;
        }

        .one-one {
            margin-bottom: 100px;
        }

        .time {
            width: 200px;
            background-color: white;
        }

        #currentDatetime {
            width: 200px;
        }

        .weather {
            font-size: 10px;
            width: 200px;
        }

        .card {
            width: 200px;
        }

        /*2구역*/
        .title {
            color: orange;
            font-size: 100px;
            text-align: center;
            font-family: 'Black Han Sans', sans-serif;
            margin-top: 20px;
        }

        /*3구역*/
        .third {
            display: flex;
            justify-content: center;
            margin: 40px auto 10px auto;
        }

        .team {
            display: flex;
        }

        .top {
            box-shadow: 1px 1px 1px 1px gray;
            align-items: center;
            vertical-align: top;
        }

        #teamInfo {
            color: orange;
            font-family: 'Black Han Sans', sans-serif;
        }

        #teamRule {
            color: orange;
            font-family: 'Black Han Sans', sans-serif;
        }


        #teamInfoText {
            background-color: lightgoldenrodyellow;
            padding: 10px;

        }

        #teamRuleText {
            background-color: lightgoldenrodyellow;
            padding: 10px;
        }
        .teamInfobtn {
            margin-bottom: 5px;
        }
        .teamRulebtn {
            margin-top: 3px;
        }

        /* 4구역 */
        #pro {
            display: flex;
            flex-direction: column;
            background-image: center center;
            margin: 5px 300px;
            padding: 100px 100px;


        }

        .teamtext {
            text-align: center;
            margin-bottom: 30px;
            color: orange;
            font-family: 'Gowun Batang', serif;
        }

        .teamimg {
            text-align: center;
            
        }

        #profile {
            width: 10px;
            height: 10px;
            vertical-align: middle;
            border-radius: 70%;
        }


        /* 5구역 */
        .fifth {
            width: 800px;
            margin: 20px auto 20px auto;
            border: 1px solid orange;

            padding: 20px;
            border-radius: 5px;
        }

        .write {

            padding: 10px;
        }

        .bangmungup {
            width: 100px;

        }

        .bangmungup2 {
            width: 100px;

        }

        .bangmungup3 {
            width: 800px;

        }

        .form-floating {
            width: 700px;
        }

        #gogobtn {
            margin-bottom: 20px;
            background-color: transparent;
            border: 1px solid orange;
            color: orange;
        }

        #gogobtn:hover {
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; 
            background: orange;
            color: white;
            }

        #naeyongdw {
            border: 0px;
        }
 