
/*1구역*/
.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.one-one {
    margin-bottom: 100px;
}
.time {
    width: 200px;
    background-color: white;     
}
#currentDatetime {
    width: 200px;
}
.weather {
    font-size: 10px;
    width: 200px;            
}
.card {
    width: 200px;
}

/*2구역*/
.title {
    color: orange;
    font-size: 50px;
    text-align: center;
}

/*3구역*/
.third {
    display: flex;
    margin: 30px auto auto 200px;
}

.team {
    display: flex;
}

/* 그림자 */
.top {
    box-shadow: 3px 3px 3px 3px gray;
    align-items: center;
    vertical-align: top;
}

#teamInfo {
    color: orange;
   
}
#teamRule {
    color: orange;
    
}


#teamInfoText {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    
}

#teamRuleText {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    
}


.teamRulebtn {
    margin-top: 3px;
}

/* 4구역 */
#pro {
    display: flex;
    flex-direction: column;
    background-image: center center;
    margin: 5px 300px;
    padding: 100px 100px;
}

.teamtext {
    text-align: center;
    margin-bottom: 30px;
}  

.teamimg {
    text-align: center;
    
    
}

#profile {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}


.fifth {
    width: 800px;
    margin: 20px auto 20px auto;
    border: 1px solid black;

    padding: 20px;
    border-radius: 5px;
    }

.write {
    
    padding: 10px;
}




.bangmungup {
    width: 100px;

}

.bangmungup2 {
    width: 100px;

}

.bangmungup3 {
    width: 800px;

}

.form-floating {
    width: 700px;
}

#gogobtn {
    margin-bottom: 20px;
}

#naeyongdw {
    border: 0px ;
}